body{
    padding: 0;
    margin: 0;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
#game{
    width: 280px;
    height: 150px;
    border: 1px solid black;
    background: url(../images/hogwarts-castle.webp) no-repeat center center/cover;
}

.container {
    width: 280px;
    max-width: 80%;
    display: flex;
    border-radius: 5px;
    padding: 10px;
    
}

.btn-grid {
    display: grid; 
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    background: blue;
}

#harry>img{
    width: 40px;
    height: 80px;
}
#harry{
    width: 40px;
    height: 80px;
    position: relative;
    top: 70px;
    margin-left: 10px;
}    
.animate{    
    animation: jump 500ms;
}

@keyframes jump {
    0%{top: 70px;}
    30%{top: 20px;}
    70%{top: 20px;}
    100%{top: 70px}
}
#dobby>img{
    width: 30px;
    height: 30px;
}
#dobby{
    width: 30px;
    height: 30px;
    position: relative;
    top: 40px;
    left: 250px;

}
.animate-dobby{
    animation: dobby 1.3s infinite linear;
}
@keyframes dobby{
    0%{left:250px;}
    100%{left:-40px}
}
@media screen and (min-width: 653px){
    #game {
        width: 650px;
        height: 330px;
    }
    
    #harry>img {
        width: 40px;
        height: 100px;
    }
    
    #harry {
        width: 40px;
        height: 100px;
        top: 230px;
    }
    @keyframes jump {
        0% {
            /*The additional 3 pixels give the impression that Harry's landing is smoother*/
            top: 233px;
        }
    
        30% {
            top: 170px;
        }
    
        70% {
            top: 170px;
        }
    
        100% {
            top: 233px
        }
    }
    
    #dobby>img {
        width: 40px;
        height: 40px;
    }
    
    #dobby {
        width: 40px;
        height: 40px;
        top: 190px;
        left: 610px;
    }
    
    @keyframes dobby {
        0% {
            left: 610px;
        }

        100% {
            left: -40px
        }
    }    
}
    @media screen and (min-width: 1024px) {  
    #game {
        width: 800px;
        height: 450px;
    }

    #harry>img {
        width: 90px;
        height: 200px;
    }

    #harry {
        width: 90px;
        height: 200px;
        top: 250px;
    }
    @keyframes jump {
        0% {
            /*The additional 3 pixels give the impression that Harry's landing is smoother*/
            top: 253px;
        }

        30% {
            top: 150px;
        }

        70% {
            top: 150px;
        }

        100% {
            top: 253px
        }
    }

    #dobby>img {
        width: 80px;
        height: 80px;
    }

    #dobby {
        width: 80px;
        height: 80px;
        top: 170px;
        left: 720px;
    }

    @keyframes dobby {
        0% {
            left: 740px;
        }

        100% {
            left: -40px
        }
    }

    }